<footer class="pt-2 my-5 mt-1 text-muted border-top">
  <div class="row">
    <div class="col-md-12 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
      <a href="https://scholar.google.com/citations?user=hC-thK0AAAAJ&hl=en" class="ms-3 fs-5">
        <svg class="svg-inline--fa fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="20" height="20">
          <use href="/assets/img/scholar.svg#icon" xlink:href="/assets/img/scholar.svg#icon"></use>
        </svg><!--
      --></a>
      <a href="https://andreroesti.com" class="ms-3 fs-5 heart">
        <svg class="svg-inline--fa fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="20" height="20">
          <use href="/assets/img/heart.svg#icon" xlink:href="/assets/img/heart.svg#icon"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
