$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #052;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $bodyColor;
}

body a:hover {
  color: $linkColor;
}

body #content a {
  color: $linkColor;
  text-decoration: none;
}

body #content a:hover {
  text-decoration: underline;
}

body .highlight {
  color:$linkColor;
  font-weight:500;
}
